#!/bin/bash

module_name=$2

SOURCE_DIR=/raid/data/module/$module_name/bin/Web_UI
SOURCE_FILE=app.js

pidfile=/var/run/$module_name.pid
logfile=/var/log/$module_name.log

RETVAL=0

start() {
  echo "Starting $module_name node instance: "
  if [ "$foreverid" == "" ]; then
    # Create the log and pid files
    touch $logfile
    touch $pidfile
        
    forever start \
            -a -s \
            -l $logfile \
            --pidFile $pidfile \
            --sourceDir $SOURCE_DIR \
            $SOURCE_FILE > /dev/null
        
    RETVAL=$?
  else
    echo "Instance already running"
    RETVAL=0
  fi
}
 
stop() {
  echo -n "Shutting down $module_name node instance: "
  if [ "$foreverid" != "" ]; then
    forever stop $foreverid
  else
    echo "Instance is not running";
  fi
  RETVAL=$?
}

restart() {
  if [ "$foreverid" != "" ]; then
    echo "Restart $module_name node instance: "
    forever restart $foreverid > /dev/null
    status
  else
    start
    status
  fi
    RETVAL=$?
}

status() {
  forever list | grep -E "($logfile)|(uptime)"
}

# read pid and foreverid
if [ -f $pidfile ]; then
  read pid < $pidfile
else
  pid=""
fi
if [ "$pid" != "" ]; then
  sed="s/.*\[\([0-9]\+\)\].*/\1/g"
  foreverid=`forever list | grep $logfile | sed $sed`
else
  foreverid=""
fi
 
case "$1" in
  boot|start)
    start
    status
  ;;
  stop)
    stop
  ;;
  restart)
    restart
  ;;
  status)
    status
  ;;
  *)
    echo "Usage: $module_name {start module_name|stop module_name}"
    exit 1
esac
exit $RETVAL
