extends layout

block content
  div.jumbotron
    div.container
      h1 About this module
      p This is my first (and hopefully not the last) Thecus module. Feel free to let me know if you have any comments and suggestions.
      p Please Contact: yichien.chang [at] gmail.com
      p I am also an amateur photographer living in Boston. Hope you also enjoy photos.
      p
        ul
          li
            a(href='http://www.flickr.com/photos/ycchang/') Flickr
          li
            a(href='http://500px.com/ycchang') 500px
  div.container
    div.row
      div(class="col-lg-12")
        h2 About the code
        p source code is available on <a href="https://github.com/yicheinchang/ModuleManager">GitHub</a>
        h3 Code is provided under MIT License
        pre=license

